.invoices__card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 var(--secondary-color);
}
.incvoices__card-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.invoices__card-items{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
@media screen and (min-width:720px){
    .invoices__card{
        width: max-content;
        padding: 40px;
    }
}